
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&family=Poppins:wght@100;300;400;700&display=swap');
body{
    font-family: 'Open Sans','sans-serif';
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1,h2  {
    font-family: 'Poppins';
    font-weight: 700;
}

button {
    font-family: 'Poppins';
}

/*  HEADER WITH LOGO */
.main-header {
    position: relative;
    width: 100%;
    padding-top: 20px;
    align-items: center;
    display: inline-flex;
    justify-content: space-between;
}


.logo-container img{
   width: 150px;
   margin-left: 100px;
}

.main-header .header-button {
    padding: 7px 45px;
    border-radius: 50px;
    border: 1.25px solid hsl(322, 100%, 66%); ;
    background-color: transparent;
    color:hsl(322, 100%, 66%);
    margin-right: 100px;
}


@media (max-width:1000px){
    .main-header {
        justify-content: space-between;
    }
    
    .logo-container img {
        margin-left: 10px;
    }

    .main-header .header-button {
        padding: 5px 20px;
        margin-right: 10px;
    }
}

/* END OF HEADER WITH LOGO */



/* HEADER HERO WITH DESCRIPTION  */

.header-description{
    margin-top: 5%;
    text-align: center;
    align-items: center;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
}

.header-title{
    font-size: 2.75rem;
    font-weight: bold;
    color: hsl(192, 100%, 9%)
}

.header-description article {
   font-size: 16px;
   text-align: center;
   padding: 0px 450px;
}

@media (max-width:1300px){
    .header-description article {
        padding: 0px 0px;
     }
}


.header-description button {
   font-size: 16px;
   margin-top: 50px;
   padding: 15px 40px;
   border-radius: 50px;
   border: 0px  ;
   background-color:hsl(322, 100%, 66%);
   color:hsl(207, 100%, 98%);
   width: 350px;
}

.header-description img {
    margin-top: 100px;
    width: 60%;
}


 @media (max-width:600px) {
    
    .header-description{
        margin-top: 20%;
    }
    
    .header-title{
        font-size: 1.50rem;
        font-weight: bold;
        color: hsl(192, 100%, 9%)
    }

    .header-description button {
        width: 100%;
    }

    .header-description img {
        width: 100%;
    }
}

/*END OF HEADER HERO WITH DESCRIPTION  */


/* STATS  SECTION */


.stats { 
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.stats .container-parent{
    width: 70%;  
}

.stats .stats-child {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0px 10px;
    width: auto;
    margin-bottom: 50px;
}

.stats .stats-container h1,p{
    margin: 0px;
    font-family: 'Poppins';
}

.stats-container img {
    width: 40px;
}

.stats h1{
    font-size: 58px;
    font-weight: 700;
}

@media (max-width:600px){


    .stats {
        margin-top: 25px;
    }
    .stats .container-parent{
    align-items: center;
    display: flex;
    flex-direction: column;
    
   }

   /* .stats .stats-container{
    width:100%;
   } */

   .stats-container img {
    width: 3%;
}

   .stats .msg-paragraph{
    padding-right: 65px;
   }

   
}
/* END OF STATS  SECTION */

ul {
    list-style-type: none;
}


#footer {
    background-color: hsl(192, 100%, 9%);
 }
 